<!DOCTYPE html>

<html>

<head>
    <title>Weather</title>
    <link rel="icon" href="/img/weather.png">
    <link rel="stylesheet" href="/css/styles.css">
</head>

<body>
    <div class='main-content'>
        {{>header}}
        <p>Welcome to the weather app.</p>

        <form>
            <input placeholder='Location'>
            <button>Search</button>
        </form>

        <p id='msg1'></p>
    </div>
    {{>footer}}

    <script src="/js/app.js"></script>
</body>

</html>